<header>
    <img class="logo" src="logo.png" alt="logo">
    <a class="<%= page_name === 'dashboard' ? 'active' : '' %>" href='/'>Dashboard</a>
    <a class="<%= page_name === 'designer' ? 'active' : '' %>" href='/designer'>Designer</a>
    <a class="<%= page_name === 'send-data' ? 'active' : '' %>" href='/sendData'>Send data</a>
    <a target="_blank" href='https://efp-white-label.s3.us-east-1.amazonaws.com/build/<%=SCOPE%>/<%=expo%>/index.html %>'>View</a>
</header>
